* {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 15px;
}
html,
body {
  width: 100%;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  background-color: #f3eff0;
  position: relative;
}
.hed {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #a90506;
}
.hed span:nth-child(1) img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40%;
  margin-left: 3%;
}
.hed span:nth-child(2) {
  width: 32%;
  height: 32%;
  display: inline-block;
  color: white;
  font-size: 20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
}
.hed button {
  width: 24%;
  height: 70%;
  background-color: #d10909;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  position: absolute;
  right: 3%;
  top: 14%;
}
.center {
  position: relative;
  width: 96%;
  height: 62%;
  background-color: #a90506;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 2%;
}
.center .choujiang {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  height: 33%;
  background-color: #640000;
  color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  padding-top: 12%;
}
.center .denglvjiemian {
  display: none;
  width: 90%;
  height: 50%;
  border: 1px solid gray;
  position: relative;
  background: rgba(255, 73, 72, 0.5);
  margin: 0 auto;
  top: 30%;
  box-shadow: 2px,2px,2px,pink;
  border-radius: 5px;
}
.center .denglvjiemian .inputUser {
  display: block;
  width: 90%;
  height: 36px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #ffffff;
  padding-left: 10px;
  margin-left: 3%;
  box-sizing: content-box;
  font-weight: bold;
}
.center .denglvjiemian .input1 {
  margin-top: 22px;
  margin-bottom: 3px;
  display: block;
  width: 90%;
  height: 36px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #ffffff;
  padding-left: 10px;
  margin-left: 3%;
  box-sizing: content-box;
  font-weight: bold;
}
.center .denglvjiemian .input2 {
  display: block;
  width: 90%;
  height: 36px;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  background-color: #ffffff;
  padding-left: 10px;
  margin-left: 3%;
  box-sizing: content-box;
  font-weight: bold;
}
.center .denglvjiemian .btn1 {
  background: linear-gradient(180deg, #d5090a 0%, #ad0505 100%);
  box-shadow: 2px 2px 0 #a90506;
  width: 30%;
  height: 30px;
  color: white;
  font-size: 20px;
  margin-left: 36%;
  margin-top: 4%;
  border-radius: 6px;
  border: none;
}
.center .denglvjiemian .btnA {
  width: 30%;
  height: 30px;
  color: white;
  font-size: 20px;
  margin-left: 36%;
  margin-top: 4%;
  border-radius: 6px;
  border: none;
}
.center .result {
  display: none;
  width: 50%;
  height: 20%;
  padding-top: 16%;
  border: 1px solid gray;
  position: relative;
  background: rgba(255, 73, 72, 0.5);
  margin: 0 auto;
  top: 32%;
  text-align: center;
  color: yellow;
  font-size: 16px;
  box-shadow: 2px,2px,2px,pink;
  border-radius: 5px;
}
.bot {
  position: absolute;
  width: 96%;
  height: 25%;
  background-color: #ff4948;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #a90506;
}
.bot ul {
  width: 100%;
}
.bot ul li {
  list-style: none;
  color: #660002;
  font-size: 18px;
  margin-top: 4%;
  font-weight: bold;
  margin-left: 6%;
  width: 90%;
}
.bot ul li span {
  margin-left: 6%;
}
