* {
  margin: 0;
  padding: 0;
}
html,
body,
.box {
  height: 100%;
}
.header {
  box-sizing: border-box;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
}
.content {
  width: 100%;
}
.content ul {
  width: 100%;
  overflow: hidden;
}
.content ul li {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 200px;
  width: 40%;
  float: left;
  list-style: none;
}
img {
  width: 100%;
  height: 160px;
}
p {
  color: gray;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
}
